* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: whitesmoke;
}

header {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 40px;
    background-color: antiquewhite;
}

.headerItemTwo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

label {
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
}

main {
    display: flex;
    flex: row;
    justify-content: space-between;
    margin-top: 50px;
    border: 1px solid grey;

}

aside {
    width: 20%;
    height: 1000px;
    text-align: center;
    border: 1px solid grey;
    background-color: aliceblue;
}

/*section {
    width: 50%;
    height: 1000px;
    border: 1px solid grey;
}*/

article {
    width: 20%;
    height: 1000px;
    border: 1px solid grey;

}

.advertImg {
    width: 100%;
    height: 1000px;
}